Repository esrg-knights/Squire, pull requests merged in 2020-03, with the labels that each got.

#37 Feature/29 account templates
  core/forms.py
  core/static/images/regendans.jpg
  core/templates/core/description_required_fields.html
  core/templates/core/form_field.html
  core/templates/core/user_accounts/login.html
  core/templates/core/user_accounts/logout-success.html
  core/templates/core/user_accounts/password_change/password_change_done.html
  core/templates/core/user_accounts/password_change/password_change_form.html
  core/templates/core/user_accounts/password_reset/password_reset_complete.html
  core/templates/core/user_accounts/password_reset/password_reset_confirm.html
  core/templates/core/user_accounts/password_reset/password_reset_done.html
  core/templates/core/user_accounts/password_reset/password_reset_email.txt
  core/templates/core/user_accounts/password_reset/password_reset_form.html
  core/templates/core/user_accounts/password_reset/password_reset_subject.txt
  core/templates/core/user_accounts/register/register.html
  core/templatetags/contains_any_error.py
  core/templatetags/field_label.py
  core/templatetags/generic_field.py
  core/templatetags/set_max_width.py
  core/urls.py
  core/util.py
  membership_file/forms.py
  membership_file/templates/membership_file/edit_member.html
Labels: front-end, user accounts

#42 fix/41-users-cannot-register
  core/templates/core/user_accounts/password_change/password_change_done.html
  core/templates/core/user_accounts/register/register.html
  core/templates/core/user_accounts/register/register_done.html
Labels: bug, core

#40 Feature/production
  requirements/prod.txt
  squire/settings.py
Labels: environment
