Repository esrg-knights/Squire, pull requests merged in 2021-12, with the labels that each got.

#187 Dark theme fix
  user_interaction/static/themes/dark-theme.css
  user_interaction/static/themes/scala-theme.css
Labels: styling and layout

#211 Oops forgot something, dark theme fix
  user_interaction/static/themes/dark-theme.css
  user_interaction/static/themes/scala-theme.css
Labels: front-end

#218 Update/inventory value system
  inventory/admin.py
  inventory/committee_pages/tests/test_inventory_views.py
  inventory/committee_pages/views.py
  inventory/forms.py
  inventory/migrations/0001_initial.py
  inventory/migrations/0005_ownership_value.py
  inventory/migrations/0006_auto_20211219_1234.py
  inventory/models.py
  inventory/templates/admin/inventory/ownershipvalueproxy/change_form.html
  inventory/templates/inventory/committee_pages/group_detail_inventory.html
  inventory/tests/test_forms.py
  inventory/tests/test_views.py
  inventory/views.py
Labels: committees, admin, inventory

#226 Upgrade Martor
  core/fields.py
  core/tests/tests_fields.py
  requirements/common.txt
Labels: security

#224 Items missing message x
  inventory/templates/inventory/membership_inventory.html
Labels: inventory

#225 Upcoming Core Activities API
  activity_calendar/admin.py
  activity_calendar/api.py
  activity_calendar/fixtures/activity_calendar/test_activity_coregroupings.json
  activity_calendar/migrations/0017_core_activity_groupings.py
  activity_calendar/models.py
  activity_calendar/tests/test_api.py
  activity_calendar/urls.py
Labels: calendar
